body {
    background: linear-gradient(to bottom, #E8E4C9, #B7CE63);/* dirty white to light olive green gradient */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header, nav, main, footer {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
